### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [41]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [42]:
total_players = purchase_data['SN'].nunique(dropna=True)

pd.DataFrame({'Total Players': [total_players]})

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [43]:
#unique items
unique_items = purchase_data['Item ID'].nunique()

#average price
average_price = purchase_data['Price'].mean()

#total amount of purchases
total_purchases = purchase_data['Purchase ID'].count()

#total amount of revenue
total_revenue = purchase_data['Price'].sum()

In [44]:
#displaying data in summary data frame
summary_totals = pd.DataFrame({'Amount of Unique Items': [unique_items], 
                              'Average Price': '${:,.2f}'.format(average_price),
                              'Amount of Purhcases': [total_purchases],
                              'Total Revenue': '${:,.2f}'.format(total_revenue)})
summary_totals

   Amount of Unique Items Average Price  Amount of Purhcases Total Revenue
0                     183         $3.05                  780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [17]:
#Gender Demographic df
#dropping duplicate rows
gender_df = purchase_data[['Gender','SN']].drop_duplicates()

#unique counts per gender
gender_counts = gender_df['Gender'].value_counts()

In [45]:
#display results in summary table
#round percentage to two decimal places
summary_gender = pd.DataFrame({'Total Count': gender_df['Gender'].value_counts(),
                              'Percentage of Players': (gender_counts / total_players * 100).round(2)})

summary_gender

                       Total Count  Percentage of Players
Male                           484                  84.03
Female                          81                  14.06
Other / Non-Disclosed           11                   1.91


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [46]:
#Purchase count per gender
gender_purchase_count = purchase_data.groupby(['Gender']).count()['Purchase ID']

#Avg purchase price
gender_avg_price = purchase_data.groupby(['Gender']).mean()['Price']

#Purchase total value
gender_purchase_value = purchase_data.groupby(['Gender']).sum()['Price']

#avg total purchase per person
gender_avg_purchase = gender_purchase_value / summary_gender['Total Count']

In [47]:
#display summary table
purchasing_analysis_gender = pd.DataFrame({'Purchase Count': gender_purchase_count.map('{:,}'.format),
                                          'Average Purchase Price': gender_avg_price.map('${:,.2f}'.format),
                                           'Total Purchase Value': gender_purchase_value.map('${:,.2f}'.format),
                                          'Total Purchase Per Person': gender_avg_purchase.map('${:,.2f}'.format)})
purchasing_analysis_gender

,Purchase Count,Average Purchase Price,Total Purchase Value,Total Purchase Per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [48]:
#new bins for ages
age_demographics = purchase_data[['Age', 'SN']].drop_duplicates()


#bins in which data is held, broken down into 4 years each. <10, 10-14, etc. as shown
age_bins = [0, 9.9, 14.9, 19.9, 24.9, 29.9, 34.9, 39.9, 999]

#create title names for bins
group_names = ['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40+']

#categorize players according to age
age_demographics['Age Group'] = pd.cut(age_demographics['Age'], age_bins, labels=group_names)

In [49]:
#run calculations:

#total count
age_count = age_demographics['Age Group'].value_counts()

#percentage of players in each age bin
age_percentage = np.round(age_count / total_players * 100, decimals=2)

In [50]:
#summary data frame for ages
age_demographics = pd.DataFrame({'Total Count': age_count, 'Percentage of Players': age_percentage})

age_demographics.sort_index()

       Total Count  Percentage of Players
<10             17                   2.95
10-14           22                   3.82
15-19          107                  18.58
20-24          258                  44.79
25-29           77                  13.37
30-34           52                   9.03
35-39           31                   5.38
40+             12                   2.08

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [51]:
#group purchasing data in age_bins
purchase_data['Age Group'] = pd.cut(purchase_data['Age'], age_bins, labels=group_names)

In [52]:
#run calculations

#purchase count
purchase_count = purchase_data.groupby(['Age Group']).count()['Purchase ID']

#avg purchase price
avg_price = purchase_data.groupby(['Age Group']).mean()['Price']

#total purchase value
total_value = purchase_data.groupby(['Age Group']).sum()['Price']

#avg total purchase per person
avg_per_player = total_value / age_demographics['Total Count']

In [53]:
#summary data frame for purchase count, avg purchase price, total purchase value, and avg total purchase per person
age_purchase_data = pd.DataFrame({'Purchase Count': purchase_count.map('{:,}'.format),
                                  'Average Purchase Price': avg_price.map('${:,.2f}'.format),
                                  'Total Purchase Value': total_value.map('${:,.2f}'.format),
                                  'Average Total Purcahse per Person': avg_per_player.map('${:,.2f}'.format)})
age_purchase_data

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Total Purcahse per Person
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [54]:
#run calculations

#purchase count
spender_count = purchase_data.groupby(['SN']).count()['Purchase ID']

#avg purchase price
spender_average = purchase_data.groupby(['SN']).mean()['Price']

#total purchase value
spender_total = purchase_data.groupby(['SN']).sum()['Price']

In [55]:
#data frame using calculations
top_spenders_df = pd.DataFrame({'Purchase Count': spender_count, 'Average Purchase Price': spender_average, 'Total Purchase Value': spender_total})

#sort by total purcahse value
sorted_spender_df = top_spenders_df.sort_values('Total Purchase Value', ascending = False)

#format avg purchase price
sorted_spender_df['Average Purchase Price'] = sorted_spender_df['Average Purchase Price'].map('${:,.2f}'.format)

#format total purchase value
sorted_spender_df['Total Purchase Value'] = sorted_spender_df['Total Purchase Value'].map('${:,.2f}'.format)

#set values and return data frame showing top 5 spenders
sorted_spender_df=sorted_spender_df.loc[:,['Purchase Count', 'Average Purchase Price', 'Total Purchase Value']]
sorted_spender_df.head(5)

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [56]:
#Retrieve Item ID, Item name, and Item Price
item_data = purchase_data.loc[:,['Item ID', 'Item Name', 'Price']]
item_data.head()

   Item ID                                  Item Name  Price
0      108  Extraction, Quickblade Of Trembling Hands   3.53
1      143                          Frenzied Scimitar   1.56
2       92                               Final Critic   4.88
3      100                                Blindscythe   3.27
4      131                                       Fury   1.44

In [57]:
#Convert to new data frame
item_df = pd.DataFrame(item_data)

In [58]:
#run calculations

#purchase count
item_count = item_data.groupby(['Item ID', 'Item Name']).count()['Price']

#total purchase value
item_total_value = item_data.groupby(['Item ID', 'Item Name']).sum()['Price']

In [60]:
#create data frame using above values
pop_df = pd.DataFrame({'Purchase Count': item_count, 'Total Purchase Value': item_total_value})

#join the two data frames
popular_items_df = item_df.merge(pop_df, how='left', on=['Item ID'])

#sort by Purchase Count
popular_items_df.sort_values(['Purchase Count'], ascending=[False], inplace=True)

#format price and total purchase value in data frame
popular_items_df['Price'] = popular_items_df['Price'].map('${:,.2f}'.format)
popular_items_df['Total Purchase Value'] = popular_items_df['Total Purchase Value'].map('${:,.2f}'.format)

#drop duplicate rows based on Item ID and display top 5 popular items
popular_items_df.drop_duplicates(['Item ID']).head(5)

,Item ID,Item Name,Price,Purchase Count,Total Purchase Value
627,178,"Oathbreaker, Last Hope of the Breaking Storm",$4.23,12,$50.76
56,108,"Extraction, Quickblade Of Trembling Hands",$3.53,9,$31.77
504,82,Nirvana,$4.90,9,$44.10
474,145,Fiery Glass Crusader,$4.58,9,$41.22
273,92,Final Critic,$4.88,8,$39.04

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [61]:
#Sort by total purcahse value
popular_items_df.sort_values(['Total Purchase Value'], ascending=[False], inplace=False)

#drop duplicate rows based on Item ID and display top 5 products
popular_items_df.drop_duplicates(['Item ID']).head(5)

,Item ID,Item Name,Price,Purchase Count,Total Purchase Value
627,178,"Oathbreaker, Last Hope of the Breaking Storm",$4.23,12,$50.76
56,108,"Extraction, Quickblade Of Trembling Hands",$3.53,9,$31.77
504,82,Nirvana,$4.90,9,$44.10
474,145,Fiery Glass Crusader,$4.58,9,$41.22
273,92,Final Critic,$4.88,8,$39.04